<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Board | Update</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="container">
    	<div id="write">
    		<h4>글 수정</h4>
    		<p>제목과 내용만 수정이 가능합니다.</p>
    		<form th:action="@{/board/update}" method="post">
    			<input type="hidden" name="id" th:value="${board.id}">
	    		<table id="write_tbl">
	    			<tbody>
	    				<tr>
		    				<td>
		    					<input type="text" name="title" th:value="${board.title}" class="write_blk" placeholder="제목">
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					<div sec:authorize="isAuthenticated()">
									<span sec:authentication="principal.member.name" class="write_blk" style="font-size: 13px;" readonly></span>
		    					</div>
							</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					<textarea rows="20" cols="50" name="content" th:text="${board.content}" class="write_blk" placeholder="내용"></textarea>
		     				</td>
		    			</tr>
		    			<tr>
		    				<td colspan="2">
								<input type="reset" value="취소" class="write_btn">
								<input type="submit" value="등록" class="write_btn">
							</td>
		    			</tr>
	    			</tbody>
	    		</table>
	        </form> 
    	</div>            
        <!-- footer.html 연결 -->
   		<div th:replace="~{/layout/footer::footer-fragment}"></div>
	</div>
</body>
</html>