<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="container">
		<h2>MyHome에 오셨습니다...</h2>
		<div class="main-img">
	    	<img th:src="@{/images/snowman.jpg}" alt="theater">
	    </div>
	    <div class="menu">
	    	<a th:href="@{/member/join}">회원 가입</a>&nbsp; &nbsp;
	    	<a th:href="@{/member/list}">회원 목록</a>&nbsp; &nbsp;
	    	<a th:href="@{/member/login}">로그인</a>&nbsp; &nbsp;
	    	<a th:href="@{/board/write}">글쓰기</a>&nbsp; &nbsp;
	    	<a th:href="@{/board/pagelist}">글목록</a>&nbsp; &nbsp;
	    </div>
	</div>
</body>
</html>