<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member | Join</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<div id="join">
			<h4>회원가입</h4>
			<p id="join_word">* 필수입력</p>
			<form th:action="@{/member/join}" method="post" class="join_tbl" th:object="${memberDTO}">
				<table id="join_tbl">
					<tr>
						<td>
							<input type="text" th:field="*{memberId}" class="join_blk" id="memberId" 
								placeholder="아이디* (4~20자까지 가능)" onblur="checkMemberId()">
							<p id="check-result" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" style="color: red;"></p>
						</td>
					</tr>
					<tr>
						<td>
							<input type="password" th:field="*{password}" class="join_blk" id="password" 
			  					placeholder="비밀번호* (영문자, 숫자, 특수문자 포함해 8자 이상 가능)">
			  				<p id="check-result" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" th:field="*{name}" class="join_blk" id="name" 
			  					placeholder="이름* (한글만 입력 가능)">
			  				<p id="check-result" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" class="join_btn" value="회원가입">
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- footer.html 연결 -->
   		<div th:replace="~{/layout/footer::footer-fragment}"></div>
	</div>
	
	<script>
		let checkMemberId = function(){
			let inputId = document.getElementById("memberId").value;
			let checkResult = document.getElementById("check-result");
			
			if(inputId != ""){
				$.ajax({
					type: "POST",
					url: "/member/check-id",
					data: {"memberId": inputId},  //파라미터: memberId
					success: function(res){  //res - 결과 문자열이 반환됨
						console.log("성공: ", res);
						if(res == "OK"){
							checkResult.innerHTML = "사용 가능한 아이디입니다.";
							checkResult.style.color = "green";
						}else{ //res == "NO"
							checkResult.innerHTML = "이미 가입된 아이디입니다.";
							checkResult.style.color = "#b00";
						}
					},
					error: function(err){
						console.log("실패: ", err);
					}
				});
			} else{
				checkResult.innerHTML = "";
			}
		};
	</script>
</body>
</html>