<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member | Join</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<h4>회원가입</h4>
		<form th:action="@{/member/join}" method="post" class="joinform">
		  <fieldset>
		  	<ul>
		  		<li>
		  			<label for="memberId">아이디</label>
		  			<input type="text" name="memberId" id="memberId"
		  			       onblur="checkMemberId()">
		  		</li>
		  		<li>
		  			<p id="check-result"></p>
		  		</li>
		  		<li>
		  			<label for="password">비밀번호</label>
		  			<input type="password" name="password" id="password">
		  		</li>
		  		<li>
		  			<label for="name">이름</label>
		  			<input type="text" name="name" id="name">
		  		</li>
		  	    <li>
		  			<input type="submit" value="가입">
		  			<input type="reset" value="취소">
		  		</li>
		  	</ul>
		  </fieldset>
		</form>
	</div>
	
	<script>
		const checkMemberId = () => {
			//alert("test...");
			let inputId = document.getElementById("memberId").value;
			let checkResult = document.getElementById("check-result");
			//console.log("입력된 이메일: ", inputEmail);
			
			$.ajax({
				type: "POST",
				url: "/member/check-email",
				data: { memberId: inputId },  //파라미터: memberEmail
				success: function(res){  //res - 결과 문자열이 반환됨
					console.log("성공: ", res);
					if(res == "OK"){
						checkResult.innerHTML = "사용가능한 이메일입니다.";
						checkResult.style.color = "green";
					}else{ //res == "NO"
						checkResult.innerHTML = "이미 가입된 이메일입니다.";
						checkResult.style.color = "#b00";
					}
				},
				error: function(err){
					console.log("실패: ", err);
				}
			});
		};
	</script>
</body>
</html>