<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member | List</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h4>회원목록</h4>
		  <table class="tbl_list">
		  	<thead>
		  	  <tr>
		  	    <th>번호</th>
		  	    <th>아이디</th>
		  	    <th>비밀번호</th>
		  	    <th>이름</th>
		  	    <th>조회</th>
		  	    <th>삭제</th>
		  	  </tr>
		  	</thead>
		  	<tbody>
		  	  <tr th:each="member: ${memberList}">
		  	    <td th:text="${member.id}"></td>
		  	    <td th:text="${member.memberId}"></td>
		  	    <td th:text="${member.password}"></td>
		  	    <td th:text="${member.name}"></td> 
		  	    <td><a th:href="@{|/member/${member.id}|}">조회</a></td>
		  	    <!-- 버티컬바(|)는 ${member.id}를 숫자로 유지시켜줌 -->
		  	    <td><a th:href="@{|/member/delete/${member.id}|}"
		  	           onclick="return confirm('해당 회원을 삭제하시겠습니까?')">삭제</a></td>
		  	  </tr>
		  	</tbody>
		  </table>
	</div>
</body>
</html>