<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<!-- header.html 연결 -->
   		<!-- <div th:replace="~{/layout/header::header-fragment}"></div> -->
   		<div th:replace="~{header::header-fragment}"></div>
		
		<section class="main-img">
			<div class="image1">
				<img th:src="@{/images/1.jpeg}" alt="mainImg1">
				<div class="weather">
					<h2 class="today"></h2>
					<h3 class="result"></h3>
				</div>
			</div>
			<div class="image2">
				<img th:src="@{/images/2.jpeg}" alt="mainImg2">
			</div>
		</section>
		
		<!-- footer.html 연결 -->
   		<div th:replace="~{footer::footer-fragment}"></div>
  	</div>
  	
  	<script src="/js/weather.js"></script>
</body>
</html>