<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Main</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="container">
    	<div sec:authorize="isAuthenticated()" class="auth">
    		<!-- <p th:text="${#authentication.getPrincipal()}"></p> -->
    		<h3 sec:authentication="principal.member.name"></h3>
    	</div>
    	 
		<div class="main_menu">
		   <a th:href="@{/member/logout}">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
		   	  <button type="button">로그아웃</button>
		   </a>&nbsp; &nbsp;
		   <a th:href="@{/member/update">
		   	  <button type="button">나의정보 수정</button>
		   </a>&nbsp; &nbsp;
		   <a th:href="@{/}">
		   	  <button type="button">홈으로</button>
		   </a>
		</div>
	</div>
</body>
</html>