<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>01/31/수-시험</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x9dqpuvinw"></script>
</head>
<body>
	<h2>지진해일대피소 정보</h2>
	<input type="button" value="실행" id="btn">
	<table id="result">
		<thead>
			<tr>
			<th>일련번호</th>
			<th>시도명</th>
			<th>시군구명</th>
			<th>대피장소명</th>
			<th>주소</th>
			<th>경도</th>
			<th>위도</th>
			<th>수용가능인원(명)</th>
			<th>해변으로부터의거리</th>
			<th>내진적용여부</th>
			<tr>
		</thead>
		<tbody>
			<!-- 데이터 -->
		</tbody>
	</table>
	
	
	<script>
	$(function() {
		$("#btn").click(function() {
			$.ajax({
				type : "GET",
				url: "https://apis.data.go.kr/1741000/TsunamiShelter3/getTsunamiShelter1List"
				+ "?serviceKey=zsy2cxIsnAul6JnzOV1ul3h%2FKXxNtT7Xw7Q6BOieVjRXmFxmTjKs1S02jYe6mE8sRHEQ38e8sfupjwYKLKImsQ%3D%3D" // 서비스 키  -> 추가
				+ "&pageNo=1&numOfRows=20&type=json", // 한 페이지 결과값 20개 -> 기존 10개에서 20개로 변경
				dataType: "json",
				success : function(data) {
					var itemArr = data.TsunamiShelter[1].row;
					
					var value = "";
					for(var i = 0; i < itemArr.length; i++) {
						var item = itemArr[i];
						value += "<tr>"
							+ "<td>" + item.id + "</td>"
							+ "<td>" + item.sido_name + "</td>"
							+ "<td>" + item.sigungu_name + "</td>"
							+ "<td>" + item.shel_nm + "</td>"
							+ "<td>" + item.address + "</td>"
							+ "<td>" + item.lon + "</td>"
							+ "<td>" + item.lat + "</td>"
							+ "<td>" + item.shel_av + "</td>"
							+ "<td>" + item.lenth + "</td>"
							+ "<td>" + item.seismic + "</td>"
							+ "</tr>"
					}

					$("#result tbody").html(value); // 데이터 보내줄 곳 -> 위치 이동
					
				},
				error : function(error) {
					console.log("ajax 통신 실패!" + error); // 에러 발생 시, 문구 출력 -> 추가
				}
			});
		});
	});
	</script>
</body>
</html>