<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 목록 | 페이지 처리</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
	    <h2>글 목록</h2>
	    <!-- 검색 영역  -->
	    <form th:action="@{/board/pagelist}" method="get" 
	    			class="searchform">
	      <select name="type" class="sel_type">
	      	<option th:value="title" th:text="제목" th:selected="${type=='title'}" ></option>
	      	<option th:value="content" th:text="내용" th:selected="${type=='content'}"></option>
	      </select>			
		  <input type="text" name="keyword" th:value="${kw}">
		  <input type="submit" value="검색">
		</form>
	    <!-- 글 목록 -->
		  <table class="tbl_list">
		  	<thead>
		  	  <tr>
		  	    <th>번호</th>
		  	    <th>제목</th>
		  	    <th>글쓴이</th>
		  	    <th>조회수</th>
		  	    <th>작성일</th>
		  	  </tr>
		  	</thead>
		  	<tbody>
		  	  <tr th:each="board : ${boardList}">
		  	  	<td th:text="${board.id}"></td>
		  	  	<!-- Page 클래스의 메서드인 number - getNumber() -->
		  	  	<td><a th:href="@{|/board/${board.id}|(page=${boardList.number+1})}" th:text="${board.boardTitle}"></a></td>
		  	  	<td th:text="${board.boardWriter}"></td>
		  	  	<td th:text="${board.boardHits}"></td>
		  	  	<td th:text="${#temporals.format(board.createdDate,
		  	  						'yyyy-MM-dd HH:mm')}"></td>
		  	  </tr>
		  	</tbody>
		  </table>
		  <!-- 페이지 영역 -->
		  <div class="pagination">
		    <!-- 이전 페이지 -->
		    <!-- 2page 클릭하면 db 페이지는 1page -->
		    <a th:href="${boardList.first}? '#' : 
		    	@{/board/pagelist(page=${boardList.number})}">Prev</a>
		    <!-- 페이지 번호 블럭 -->
		    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
			    <!-- 현재 페이지는 링크없이 숫자만 표시 -->
			    <span th:if="${page == boardList.number + 1}"  
			    	th:text="${page}" class="current_page"></span>
			    <span th:if="${page != boardList.number + 1}">
			    	<a th:href="@{/board/pagelist(page=${page})}" th:text="${page}"></a>
			    </span>
			</span>
			<!-- 다음 페이지 -->
			<!-- 현재 2page -> 3page  실제페이지는 1page-->
		    <a th:href="${boardList.last} ? '#' : 
		    		@{/board/pagelist(page=${boardList.number+2})}">Next</a>
		  </div>
		  <!-- 글쓰기 버튼 -->
		  <div class="btn_write">
		  	<a th:href="@{/board/write}"><button type="button">글쓰기</button></a>
		  </div>
	</div>
</body>
</html>