@charset "UTF-8";

/* 공통 스타일 */
*{
	margin: 0; 
	padding: 0;
}
#index{
	background: dimgray;
}
#container{
	margin: 0 auto;
}

ul li{
	list-style: none; 
	margin: 16px;
}
a{
	text-decoration: none;
}

/* index 스타일 */
.header{
	margin: 15px;
	height: 30px;
    line-height: 30px;
}
.footer{
	
}
.h_menu{
	width: 100px;
	text-align: center;
	line-height: 40px;
	float: right;
}
.h_menu a{
	color: lightgray;
}
.h_menu a:hover{
	text-decoration: line-through;
}
h2{
	float: left;
	color: white;
}
.main-img{
	z-index: -1;
	position: absolute;
    top: 0;
}
.main-img img{
	width: 85%;
}

/* main 스타일 */
h3{
	text-align: center;
	margin : 30px;
}
.main_menu{
	margin: 0 auto;
	text-align: center;
}

/* list 스타일 */
h4{
	text-align: center;
	margin : 30px;
}
.tbl_list{
	width: 800px; 
	margin: 0 auto;
    border-collapse: collapse;
}
.tbl_list th, td{
	border: 1px solid #ccc; 
	padding: 8px;
	text-align: center;
}
.tbl_list td a{
	color: dimgray;
}
.tbl_list input[type="text"]{width: 680px; height: 25px}
.tbl_list textarea{width: 680px; height: 300px}
.btn_write{text-align: left; padding-left: 250px;}

/* login 스타일 */
.joinform{
	width: 420px; 
	margin: 0 auto;
}
.joinform label{
	width: 100px; 
	float: left;
}
.joinform input[type="text"], input[type="password"]{
	width: 265px; 
}
.joinform input{
	padding: 4px;
}

  